body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: bisque;
    color: cornflowerblue;
}

button {
    background-color: black;
    color: white;
    width: 70px;
}

input {
    padding: center;
}